# Dependencies
node_modules/
package-lock.json

# Production build outputs
dist/
dist-ssr/
release/
*.local

# Android / iOS build artifacts
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & System Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
